In [1]:
import pandas as pd
import numpy as np

Veamos la diferencia entre un arreglo de numpy y una serie de pandas

In [9]:
array = np.arange(10)
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [10]:
series = pd.Series(array)
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

Podemos obtener los index o hacer slices

In [11]:
series.index

RangeIndex(start=0, stop=10, step=1)

In [12]:
# Una parte de la serie
series[1:3]

1    1
2    2
dtype: int32

Podemos cambiar el indexado

In [15]:
serie_letras = pd.Series([1,2,3], index = ['a','b','c'])
serie_letras

a    1
b    2
c    3
dtype: int64

Pasar de un diccionario a una serie

In [18]:
dic =   {'a' : 1, 'b' : 2, 'c' : 3 , 'd' : 4, 'e' : 5}

serie_dic = pd.Series(dic)
serie_dic

a    1
b    2
c    3
d    4
e    5
dtype: int64

Operaciones que puedo realizar

In [20]:
serie_dic['c']

3

In [21]:
serie_dic['b':'e']

b    2
c    3
d    4
e    5
dtype: int64

In [24]:
serie_filtro = pd.Series(serie_dic, index =['a','e'])
serie_filtro

a    1
e    5
dtype: int64

Crearemos un dataframe

In [28]:
area = {'California': 423967, 
          'Texas': 695662, 
          'New York': 141297,
          'Florida': 170312,
          'Illinois': 149995}

population = {'California': 38332521,
               'Texas': 26448193,
               'New York': 19651127,
               'Florida': 19552860,
               'Illinois': 12882135}
dataframe = pd.DataFrame({'population':population, 'area':area})
dataframe

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Operaciones en el dataframe

In [29]:
dataframe.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [31]:
dataframe.columns

Index(['population', 'area'], dtype='object')

In [32]:
dataframe.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [33]:
dataframe['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [35]:
dataframe1 = pd.DataFrame(population, index = ['population'])
dataframe1

            California     Texas  New York   Florida  Illinois
population    38332521  26448193  19651127  19552860  12882135

In [36]:
dataframe2 = pd.DataFrame(pd.Series(population), columns = ['population'])
dataframe2

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

Datos con informaci√≥n faltante

In [37]:
dt = [{'a':1, 'b':2},{'b':3, 'c':4}]

# Veremos NaN en donde no tengamos datos.
pd.DataFrame(dt)

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [4]:
# Dataframe con nombres de columnas y filas
pd.DataFrame([[1,2],[3,4]],index=['Numero 1','Numero 2'],columns=['Population','Area'])

          Population  Area
Numero 1           1     2
Numero 2           3     4

Indices

In [3]:
ind = pd.Index([2,3,4,5])
ind[1]

3

In [5]:
# Tenemos un indice de 4 elementos
print(ind.size, ind.shape, ind.dtype)

4 (4,) int64

Los indices son inmutables, no podemos cambiarlos

In [6]:
ind[1] = 10

TypeError: Index does not support mutable operations

Slices

In [9]:
data = pd.Series([1,2,3,4], index = ['a','b','c','d'])
data

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
'a' in data

True

In [10]:
list(data.items())

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [11]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [12]:
data = pd.Series(np.random.randint(1,50,50))
data

0      5
1     48
2      1
3     48
4     43
5     23
6     20
7     27
8     44
9     23
10    19
11    48
12    31
13    48
14    10
15    31
16    11
17    15
18    47
19    27
20     9
21    46
22    20
23    28
24     5
25    48
26    16
27    23
28    34
29    41
30    44
31    13
32    10
33    22
34    27
35    13
36    45
37    38
38    45
39     3
40    28
41    26
42    25
43    47
44    13
45    29
46    47
47     5
48    41
49     9
dtype: int32

In [13]:
data[(data>=13) & (data<=20)]

6     20
10    19
17    15
22    20
26    16
31    13
35    13
44    13
dtype: int32

Fancy indexing

In [14]:
data[[36,38]]

36    45
38    45
dtype: int32